* {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    box-sizing: border-box;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

.circle1 {
    fill: white;
}

/* .circle2 {
    fill: white;
} */

header {
    width: 100%;
    position: sticky;
    top: 0;
}

.container3 {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

figure:hover {
    cursor: pointer;
}

figcaption {
    margin-left: 10px;
    margin-top: 3px;
}

figcaption:hover {
    cursor: pointer;
}

.desno1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
}

.desno1 a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    transition: 0.3s;
}

.desno1 a:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #bc6ff1;
    border-radius: 20px;
}


.lijevo {
    display: flex;
    flex-direction: row;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.home {
    height: 600px;
    width: 80%;
    background: linear-gradient(179.4deg,
            rgb(0, 0, 0) -16.9%,
            rgb(82, 5, 123) 119.9%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.naslov h1 {
    margin: 0;
    margin-left: 100px;
}

.slika {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
}

.slika p {
    margin: 0;
}

.aboutMain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}

.naslov1 {
    width: 50%;
}

.naslov1 h1 {
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px #bc6ff1;
    text-transform: uppercase;
}

.text {
    width: 50%;
}

.text p {
    letter-spacing: 1px;
}

.containerUnutra {
    display: flex;
    justify-content: space-between;
}

.dodatniSkilovi {
    width: 50%;
    padding: 5px;
}

.dod1 {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

.dod1 p {
    margin: 0;
    font-size: 1.5rem;
}

.dod1 li {
    padding: 5px;
}

.skillovi {
    width: 50%;
}

.containerSkills {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #121313;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.containerSkills h1 {
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
    text-shadow: 2px 2px 8px #bc6ff1;
}

.skillBox {
    box-sizing: border-box;
    width: 100%;
}

.procent p {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.procent {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.skill {
    background-color: #52057b;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 2px;
}

.skill_level {
    background-color: #bc6ff1;
    padding: 2px;
}

#projects {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.projekti {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.projekt {
    border: 1px solid #121313;
    box-shadow: 0 20px 50px rgb(82, 5, 123);
    border-radius: 10px;
    height: 300px;
    width: 30%;
}

.projekt img {
    padding: 10px;
}

.projekti a {
    text-decoration: none;
}

.btnProjekt {
    border: none;
    background: linear-gradient(179.4deg,
            rgb(7, 7, 7) -16.9%,
            rgb(82, 5, 123) 119.9%);
    color: white;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    transition: 0.2s;
}

.btnProjekt p {
    letter-spacing: 2px;
}

.btnProjekt:hover {
    cursor: pointer;
    border: 1px solid white;
    transform: scale(1.1);
}

#projects h1 {
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px #bc6ff1;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 20px;
}

#projects p {
    margin-top: 15px;
}

footer {
    margin: 0;
    background: linear-gradient(179.4deg,
            rgb(0, 0, 0) -16.9%,
            rgb(82, 5, 123) 119.9%);
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 0;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

footer svg {
    transition: 0.7s;
}

footer svg:hover {
    scale: 0.7;
    fill: #bc6ff1;
}

@media screen and (max-width:2000px) {

    .home p img {
        height: 300px;
    }

    .slika p img {
        height: 280px;
    }
}

@media screen and (max-width:1500px) {
    .home {
        height: 550px;
    }

    .home p img {
        height: 200px;
    }

    .slika {
        height: 550px;
    }

    .slika p img {
        height: 265px;
    }

}

@media screen and (max-width:1200px) {
    #slik img {
        height: 150px;
    }
}

@media screen and (max-width:1100px) {

    .home p img {
        height: 150px;
        margin-right: 10px;
    }

    .slika p img {
        height: 200px;
    }

    .naslov h1 {
        margin: 0;
        margin-left: 70px;
    }
}

@media screen and (max-width:1000px) {
    .btnProjekt {
        width: 50%;
    }

    .projekti {
        flex-wrap: wrap;
    }

    .projekt {
        width: 45%;
        margin-right: 1px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 900px) {

    #slik img {
        height: 120px;
        margin-right: 10px;
    }

    .slika p img {
        height: 260px;
    }

    .naslov h1 {
        margin: 0;
        margin-left: 50px;
    }
}

@media screen and (max-width: 800px) {

    .container3 {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .desno {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .lijevo {
        justify-content: center;
        align-items: center;
    }

    .desno li {
        width: 100%;
        border-bottom: 2px solid #bd6ff1b1;
        text-align: center;
        margin-bottom: 10px;
    }

    .desno li:hover {
        border-bottom: none;
    }

    .desno ul {
        padding: 0;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .home {
        height: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #slik img {
        margin-right: 0;
        height: 200px;
    }

    .naslov h1 {
        margin-left: 0;
        margin-top: 10px;
    }

    .slika {
        height: 900px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .slika p img {
        height: 300px;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .text {
        width: 100%;
        text-align: center;
    }

    .containerSkills {
        width: 100%;
    }

    .projekt {
        width: 49%;
        margin-right: 1px;
        margin-bottom: 60px;
    }

}

@media screen and (max-width: 650px) {
    .projekt {
        width: 80%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

}

@media screen and (max-width: 576px) {
    .home {
        width: 100%;
    }

    .aboutMain {
        width: 100%;
    }

    .about {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
    }

    .text {
        width: 100%;
    }

    .containerSkills {
        width: 100%;
    }

    .containerUnutra {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .dodatniSkilovi {
        width: 100%;
    }

    .skillovi {
        width: 100%;
    }

    .projekt {
        width: 90%;
    }
}

@media screen and (max-width:400px) {

    .desno1 {
        width: 100%;
    }

    .desno1 a {
        font-size: 12pt;
    }

    .naslov1 {
        width: 100%;
    }

    .projekt {
        width: 100%;
    }
}